
<div class="splash-container">
<!--   <img src="<%# asset_path( 'city3.png' ) %>" /> -->
  <div class="slick-carousel carousel-shadow">
    <div><img src="<%= asset_path( 'city1.png' ) %>" id="radius-img" /></div>
    <div><img src="<%= asset_path( 'city2.png' ) %>" id="radius-img" /></div>
    <div><img src="<%= asset_path( 'city3.png' ) %>" id="radius-img" /></div>
  </div>


  <a href="/restaurants" class="text_over_image">NEVER AGAIN...</a>
</div>
  <div class="row large-12 columns">
    <div class="tag_line">A Boston Restaurant Review Site For Your Worst Dining Experiences </div>
  </div>

<div class="row">
  <!-- MORE STUFF BELOW -->
</div>



