
<div class="splash-container">
  <img src="<%= asset_path( 'city4.png' ) %>" />
  <a href="/restaurants" class="text_over_image">NEVER AGAIN...</a>
  <p class="tag_line_over_image">A Boston Restaurant Review Site For Your Worst Dining Experiences </p>
</div>

<div class="row">
  <!-- MORE STUFF BELOW -->
</div>

