
<div class="splash">
  <div class="splash-image">
  <img src="city.JPG" alt="city" width="100%">

    <div class="splash-text">
      ...Never Again
    </div>
  </div>
</div>

<span class="home-search-bar">
  Searchbar
</span>

<div>
  body stuff here
</div>
