<div class="row">
  <h1 id="restaurant-index-header">All Restaurants</h1>
  <div id="new-restaurant-button">
    <%= link_to 'New Restaurant', new_restaurant_path, class: "small button radius " %>
  </div>
</div>

<div class="row">
  <div class="row restaurants-list">
    <ol>
      <% @restaurants.each do |restaurant| %>
        <li>
          <%= link_to restaurant.name, restaurant %>
        </li>
      <% end %>
    </ol>
  </div>
</div>

<div class="row">
  <div id="all-users-link">
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to "View all users", admin_users_path %>
    <% end %>
  </div>
  <%= paginate @restaurants %>
</div>
