/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
body {
  background-color: #FFFFFF;
}

.all-show-page {
  background-color: #f2f2f2;
}

.top-bar {
  height: 4.3em;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.81) 0%, rgba(0,0,0,0.81) 12%, rgba(0,0,0,0.6) 51%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.81)), color-stop(12%,rgba(0,0,0,0.81)), color-stop(51%,rgba(0,0,0,0.6)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.81) 12%,rgba(0,0,0,0.6) 51%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.81) 12%,rgba(0,0,0,0.6) 51%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.81) 12%,rgba(0,0,0,0.6) 51%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.81) 12%,rgba(0,0,0,0.6) 51%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7000000', endColorstr='#00000000',GradientType=0 );
}


.top-bar-section li:not(.has-form) a:not(.button) {
  font-size: 1em;
  font-family: Helvetica, sans-serif;
  margin: 0.4em;
  transition:  0.3s;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: rgba(0,0,0,0.4) 0%;
  border-radius: 25px;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.search-bar {
  margin: 0.5em;
}

#search-bar-field {
  padding-right: 0;
}


.top-bar-section .has-form  {
  padding-left: 0;
  margin-left: 0;
}


.splash-container {
  width: 1060px;
  height:auto;
  margin: auto;
  position: relative;
  text-align: center;
  left: 0;
  top: 0;
}

.splash-container .splash {
 /* background: url('city3.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
/*  height: 100%;
  width: 100%;
  z-index: 0;
*/}

.text_over_image {
    font-size: 4em;
    line-height: 1.4;
    color: #D80328;
    position: absolute;
    margin: auto;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    height: 7em;
    font-weight: bold;
}
.tag_line_over_image {
    font-size: 1.5em;
    line-height: 0;
    position: absolute;
    margin: auto;
    top: 32.12em;
    left:0;
    right:0;
    bottom:0;
    height: 7em;
    font-weight: bold;
}


a {
  color: #D80328;
}

a:hover {
  color: #ad0220;
}

.top-bar-section ul li {
  background-color: transparent;
}
.top-bar-section .has-form {
  background-color: transparent;
}
.top-bar-section li:not(.has-form) a:not(.button) {
  padding: 0 0.9375rem;
  line-height: 2.8125rem;
  background-color: transparent;
}

body>.row>.column {
   background-color: #F2F2F2;
 }
.restaurant-show-header {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.restaurant-show-header h1 {
  font-size: 2rem;
  font-family: 'Raleway';
}
.restaurant-rating h3 {
  margin-top: 0;
}
#restaurant-actions {
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Dosis';
}
#restaurant-actions div {
  display: inline;
  margin-left: 35px;
  font-size: 14px;
  margin-bottom: 35px;
}
#rage-button {
  width: 300px;
  font-family: 'Roboto';
}
.restaurant-details h6 {
  font-size: 14px;
}
.restaurant-details p {
  font-size: 14px;
  margin-bottom: .25rem;
}
.restaurant-details {
  background-color: #F2F0F0;
  font-size: 14px;
  text-align: center;
  font-family: 'Josefin Sans';
  margin-bottom: 1rem;
}
#new-review-on-show h3 {
  font-size: 14px;
  margin: 0;
  font-family: 'Josefin Sans';
}
#new-review-on-show select {
  font-size: 12px;
  width: 40px;
}
#new-review-on-show #rage-button {
  font-size: .8rem;
  width: 12rem;
  float: left;
  margin-right: 7.5rem;
}
#new-review-on-show #review_body {
  margin-bottom: 0;
}
#new-review-on-show .button {
  height: 3.75rem;
}

/* stars */

.rating {
    float: left;
    margin: 0.5rem;
    margin-left: 0rem;
    padding: 0;
}
.rating legend {
  font-weight: normal;
  font-size: .8rem;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: " 💣 ";
    font-size: 25px;
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

/* stars end */
.reviews h3 {
  text-align: center;
  font-family: "Raleway";
}
.reviews {
  font-size: 13px;
}

.review-actions {
  margin-top: 1rem;
  font-family: 'Dosis';
}
.back-to-restaurants {
  text-align: right;
  margin-right: 70px;
}
.review-votes .alert {
  display: block;
  width: 6rem;
  margin-bottom: .25rem;
}
.total-votes {
  font-family: 'Roboto';
  text-align: center;
}
#new-restaurant-button {
  margin-top: 2rem;
}
#new-restaurant-button a {
  font-family: 'Roboto';
}
.restaurants-list {
  font-family: 'Josefin Sans';
}
#all-users-link {
  font-family: 'Dosis';
}
#user-index-header {
  text-align: center;
  font-family: 'Raleway';
  font-size: 2rem;
}
#restaurant-index-header {
  text-align: center;
  font-family: 'Raleway';
  font-size: 2rem;
}
.user-details p {
  font-family: 'Josefin Sans';
  margin-bottom: 0;
  font-size: .8rem;
}
.user-details a {
  margin-bottom: .5rem;
  font-size: .8rem;
  font-family: 'Roboto';
}
.user-details li {
  margin-bottom: 1rem;
  font-size: .9rem;
  font-family: 'Josefin Sans'
}
.account-info {
  font-size: .9rem;
}
.review-details {
  font-family: 'Josefin Sans';
  padding-bottom: .5rem;
  border-bottom: solid #999999 2px;
}
.new_review {
  font-family: 'Roboto';
}
.actions {
  font-family: 'Roboto';
}
#upvote-button, #downvote-button {
  font-family: 'Roboto';
  display: block;
  margin-bottom: .5rem;
}
.pagination {
  font-family: 'Dosis';
}
#sign-in {
  font-family: 'Roboto'
}
.show-restaurant-image img {
  display: block;
  margin: auto;
  width: 20rem;
  height: 17.6rem;
  box-shadow: 0px 0px 36px -5px rgba(0,0,0,0.75);
}
.restaurants-map iframe {
  display: block;
  margin: auto;
  box-shadow: 0px 0px 36px -5px rgba(0,0,0,0.75);
}
.form>div {
  margin-top: 2rem;
  text-align: center
}
.reviews>.row {
  margin-bottom: 2rem;
}
.review-profile-image>img {
  height: 5.5rem;
  width: 5rem;
  margin-top: .6rem;
}
.review-image>img {
  height: 6rem;
  width: 11rem;
}
