/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


.top-bar {
  height: 100px;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.81) 0%, rgba(0,0,0,0.81) 12%, rgba(0,0,0,0.6) 51%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.81)), color-stop(12%,rgba(0,0,0,0.81)), color-stop(51%,rgba(0,0,0,0.6)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.81) 12%,rgba(0,0,0,0.6) 51%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.81) 12%,rgba(0,0,0,0.6) 51%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.81) 12%,rgba(0,0,0,0.6) 51%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.81) 12%,rgba(0,0,0,0.6) 51%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}


.top-bar-section li:not(.has-form) a:not(.button) {
  font-size: 1em;
  font-family: Helvetica, sans-serif;
  margin: 0.4em;
  transition:  0.3s;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: rgba(0,0,0,0.4) 0%;
  border-radius: 25px;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.search-bar {
  margin: .5em;
}


.top-bar .name #my-h1 {
  font-weight: bold;
  width: 75%;
  display: block;
  margin: 1em;
  width: auto;
}

#my-h1 a {
  color: #FFFFFF;
  text-decoration: none;
  line-height: inherit;
}

.splash-container {
  height: 600px;
  position: relative;
  left: 0px;
  top: 0;
/*  width:100%;
  max-width:100%
*/
}

.splash-container .splash {
  background: url('city3.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*
  min-height: 100%;
  width: 100%;
  z-index: 0;
*/}

html {
  background: url(images/bg.jpg) no-repeat center center fixed;
}

/*body #wrap #page-left-shadow{left:0px;top:0px;position:absolute;background-position:-14px 0;height:1px;width:8px;background-repeat:repeat-y;width:8px;height:100%}
body #wrap #page-right-shadow{right:0px;top:0px;position:absolute;background-position:-24px 0;height:1px;width:8px;background-repeat:repeat-y;width:8px;height:100%}
*/

.my-h1 {

}

.top-bar-section ul li {
  background-color: transparent;
}
.top-bar-section .has-form {
  background-color: transparent;
}
.top-bar-section li:not(.has-form) a:not(.button) {
  padding: 0 0.9375rem;
  line-height: 2.8125rem;
  background-color: transparent;
}


.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  background-image: url('city.png');
    background-repeat: no-repeat;

  background-size: cover;
  background-position: relative;
  height: 700px;

  transform: translateZ(-1px) scale(2);
}

.parallax__layer--deep {
  transform: translateZ(-2px) scale(3);

.restaurant-show-header {
  text-align: center;
  margin-bottom: 50px;
}
.rating h3 {
  margin-top: 0;
}
#restaurant-actions {
  text-align: center;
  margin-top: 15px;
}
#restaurant-actions div {
  display: inline;
  margin-left: 35px;
  font-size: 14px;
  margin-bottom: 35px;
}
#rage-button {
  width: 300px;
}
