/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


#masthead.videogamepage.fallback #key-art img.key-art{position:absolute;left:0;top:0;width:100%;max-width:100%}

body  .semitransparent-bg{-webkit-transition-property:all;
  -moz-transition-property:all;
-ms-transition-property:all;
-o-transition-property:all;
transition-property:all;
-webkit-transition-duration:500ms;
-moz-transition-duration:500ms;
-ms-transition-duration:500ms;
-o-transition-duration:500ms;
transition-duration:500ms;
top:0;
left:0;
height:60px;
background:rgba(0,0,0,0.85)}
body #wrap #inner-wrap div#banner .banner-background .gradient-bg{-webkit-transition-property:all;
  -moz-transition-property:all;
-ms-transition-property:all;
-o-transition-property:all;
transition-property:all;
-webkit-transition-duration:500ms;
-moz-transition-duration:500ms;
-ms-transition-duration:500ms;
-o-transition-duration:500ms;
transition-duration:500ms;
top:0;
left:0;
height:225px;
background-position:0 -108px;
height:225px;
width:1px;
width:100%;
background-repeat:repeat-x}


@media only screen and (min-width: 40.063em) {
  .top-bar {
    /*background: #333333;*/
    overflow: visible;
    opacity: 0.8;
  }
  .sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
  }
}

.splash {
  background-image: url('city.png');
  background-repeat: no-repeat;

  background-size: cover;
  background-position: fixed;
  left: -20;
  top: -20;

  height: 400px;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  background-image: url('city.png');
    background-repeat: no-repeat;

  background-size: cover;
  background-position: relative;
  height: 700px;

  transform: translateZ(-1px) scale(2);
}

.parallax__layer--deep {
  transform: translateZ(-2px) scale(3);
}
